<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registro</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/inicioSesion.css}">
    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">


</head>

<body>
    <!-- Navigation -->
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}">Spring eCommerce</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" th:href="@{/user/login}">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- Login -->
    <div class="login-page">
        <div class="form">
          <form class="login-form" th:action="@{/user/acceder}" method="post">
            <input type="username" id="username" name="username" placeholder="Nombre de Usuario" required>
            <input type="password" id="password" name="password" placeholder="Contraseña" required>
            <button>Ingresar</button>
            <p class="message">¿No estás registrado? <a th:href="@{/user/register}">Crear una cuenta</a></p>          
          </form>
        </div>
      </div>

    <div th:include="user/template_user.html::footer">
    </div>

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>


</body>
</html>