<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-</title>
    <link rel="stylesheet" href="nav.css">
    <meta name="theme-color" content="#2091F9">
    <script src="https://kit.fontawesome.com/ea58c9055e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="hero">  
        <nav>
            <div class="logo">
                <a href="/pagina-de-inicio/inicio.html"><img src="./images/logoShop.png" class="Market"></a></li>
            </div>
            <div class="search">
                <input type="text" placeholder="Buscar">
                <button>Buscar</button>
            </div>
            <div class="menu">
                <ul>
                <li><a href="/pagina-de-inicio/inicio.html">Inicio</a></li>
                <li><a href="ayuda.html">Ayuda</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="/tienda/tienda.html"><img src="./images/cart.png" class="Market"></a></li>
                </ul>
            </div>
        </nav>
        <nav class="navegacion">
            <ul class="menu2">
                <li><a href="">Categoria</a>
                    <ul class="submenu">
                        <li><a href="/submenu/remeras.html">Remeras</a></li>
                        <li><a href="/submenu/pantalones.html">Pantalones</a></li>
                        <li><a href="/submenu/camperas.html">Camperas</a></li>
                        <li><a href="/ofertas/oferta.html">Ofertas</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        </nav>
    </header>
</body>
</html>

